# Customer Segmentation Part II : Feature engineering and Exploratory data analysis

## Topic

## Objectives

## Summary

## Importing libraries

In [166]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from datetime import datetime as dt
sns.set(rc = {'figure.figsize':(15,8)})

## Importing the dataset

In [167]:
treated_df = orders_df = pd.read_csv(r'C:\Users\imane\OneDrive\Desktop\Clients_Clustering\treated_df.csv', sep =",")
treated_df.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,shipping_difference,shipping_duration,...,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state,product_category_name_english
0,2e7a8482f6fb09756ca50c10d7bfc047,08c5351a6aca1c1589a38f244edeee9d,shipped,2016-09-04,2016-10-07,2016-10-18,2016-10-18,2016-10-20,2 days,44 days,...,b7d76e111c89f7ebf14761390f0f7d17,69309,boa vista,RR,1037,-23.545621,-46.639292,sao paulo,SP,furniture_decor
1,2e7a8482f6fb09756ca50c10d7bfc047,08c5351a6aca1c1589a38f244edeee9d,shipped,2016-09-04,2016-10-07,2016-10-18,2016-10-18,2016-10-20,2 days,44 days,...,b7d76e111c89f7ebf14761390f0f7d17,69309,boa vista,RR,1037,-23.545621,-46.639292,sao paulo,SP,furniture_decor
2,35d3a51724a47ef1d0b89911e39cc4ff,27ab53f26192510ff85872aeb3759dcc,delivered,2016-10-04,2016-10-05,2016-10-14,2016-10-26,2016-12-20,55 days,22 days,...,f922896769e9517ea3c630f3c8de86d0,96832,santa cruz do sul,RS,1037,-23.545621,-46.639292,sao paulo,SP,furniture_decor
3,c4f710df20f7d1500da1aef81a993f65,4b671f05b6eb9dc1d2c1bae9c8c78536,delivered,2016-10-10,2016-10-10,2016-10-18,2016-10-26,2016-12-14,49 days,16 days,...,0ecf7f65b5ff3b9e61b637e59f495e0a,30411,belo horizonte,MG,1037,-23.545621,-46.639292,sao paulo,SP,furniture_decor
4,81e5043198a44ddeb226002ff55d8ad4,ddd15ef77c83eea8c534d2896173a927,delivered,2017-01-09,2017-01-09,2017-01-09,2017-02-24,2017-02-24,0 days,46 days,...,853ba75a0b423722ccf270eea3b4cfe4,21843,rio de janeiro,RJ,1037,-23.545621,-46.639292,sao paulo,SP,furniture_decor

In [168]:
treated_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98109 entries, 0 to 98108
Data columns (total 48 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       98109 non-null  object
 1   customer_id                    98109 non-null  object
 2   order_status                   98109 non-null  object
 3   order_purchase_timestamp       98109 non-null  object
 4   order_approved_at              98109 non-null  object
 5   order_delivered_carrier_date   98109 non-null  object
 6   order_delivered_customer_date  98109 non-null  object
 7   order_estimated_delivery_date  98109 non-null  object
 8   shipping_difference            98109 non-null  object
 9   shipping_duration              98109 non-null  object
 10  shipping_est_duration          98109 non-null  object
 11  product_id                     98109 non-null  object
 12  quantity                       98109 non-null  int64
 13  seller_id                      98109 non-null  object
 14  shipping_limit_date            98109 non-null  object
 15  price                          98109 non-null  float64
 16  freight_value                  98109 non-null  float64
 17  product_category_name          98109 non-null  object
 18  product_name_lenght            98109 non-null  float64
 19  product_description_lenght     98109 non-null  float64
 20  product_photos_qty             98109 non-null  float64
 21  product_weight_g               98109 non-null  float64
 22  product_length_cm              98109 non-null  float64
 23  product_height_cm              98109 non-null  float64
 24  product_width_cm               98109 non-null  float64
 25  volume_ltr                     98109 non-null  float64
 26  payment_sequential             98109 non-null  int64
 27  payment_type                   98109 non-null  object
 28  payment_installments           98109 non-null  int64
 29  payment_value                  98109 non-null  float64
 30  review_id                      98109 non-null  object
 31  review_score                   98109 non-null  int64
 32  review_creation_date           98109 non-null  object
 33  review_answer_timestamp        98109 non-null  object
 34  difference_reviews             98109 non-null  object
 35  seller_zip_code_prefix         98109 non-null  int64
 36  seller_city                    98109 non-null  object
 37  seller_state                   98109 non-null  object
 38  customer_unique_id             98109 non-null  object
 39  customer_zip_code_prefix       98109 non-null  int64
 40  customer_city                  98109 non-null  object
 41  customer_state                 98109 non-null  object
 42  geolocation_zip_code_prefix    98109 non-null  int64
 43  geolocation_lat                98109 non-null  float64
 44  geolocation_lng                98109 non-null  float64
 45  geolocation_city               98109 non-null  object
 46  geolocation_state              98109 non-null  object
 47  product_category_name_english  98109 non-null  object
dtypes: float64(13), int64(7), object(28)
memory usage: 35.9+ MB

Now we've imported the consolidated dataset, it contains all the columns present in the 9 datasets provided by Olist (48 columns) and 98 109 instances. The dataset contains both numerical and categorical values and the datetimes columns from the previous notebook were turned into object columns during the transformations. There are no missing values in the ds.

# Feature engineering

In [169]:
treated_df = treated_df.drop(["order_approved_at","order_delivered_carrier_date",
                             "product_category_name","product_name_lenght","product_description_lenght",
                             "product_length_cm","product_height_cm","product_width_cm","review_id",
                             "review_creation_date","review_answer_timestamp","seller_zip_code_prefix",
                             "customer_zip_code_prefix","geolocation_zip_code_prefix"], axis=1)
treated_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 98109 entries, 0 to 98108
Data columns (total 34 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       98109 non-null  object
 1   customer_id                    98109 non-null  object
 2   order_status                   98109 non-null  object
 3   order_purchase_timestamp       98109 non-null  object
 4   order_delivered_customer_date  98109 non-null  object
 5   order_estimated_delivery_date  98109 non-null  object
 6   shipping_difference            98109 non-null  object
 7   shipping_duration              98109 non-null  object
 8   shipping_est_duration          98109 non-null  object
 9   product_id                     98109 non-null  object
 10  quantity                       98109 non-null  int64
 11  seller_id                      98109 non-null  object
 12  shipping_limit_date            98109 non-null  object
 13  price                          98109 non-null  float64
 14  freight_value                  98109 non-null  float64
 15  product_photos_qty             98109 non-null  float64
 16  product_weight_g               98109 non-null  float64
 17  volume_ltr                     98109 non-null  float64
 18  payment_sequential             98109 non-null  int64
 19  payment_type                   98109 non-null  object
 20  payment_installments           98109 non-null  int64
 21  payment_value                  98109 non-null  float64
 22  review_score                   98109 non-null  int64
 23  difference_reviews             98109 non-null  object
 24  seller_city                    98109 non-null  object
 25  seller_state                   98109 non-null  object
 26  customer_unique_id             98109 non-null  object
 27  customer_city                  98109 non-null  object
 28  customer_state                 98109 non-null  object
 29  geolocation_lat                98109 non-null  float64
 30  geolocation_lng                98109 non-null  float64
 31  geolocation_city               98109 non-null  object
 32  geolocation_state              98109 non-null  object
 33  product_category_name_english  98109 non-null  object
dtypes: float64(8), int64(4), object(22)
memory usage: 25.4+ MB

At this stage, I deleted some columns that I thought were unecessary. The columns I deleted were:
- The time the order was approved because its not very relevant and is very close to the time the perchase was made.
- The time the order wqas delivered to the carrier because what we're concerned with here is more the time the package got to the client.
- Product category name originally in Potuguese, we kept the English translations.
- Product name and discription lenght, because we're not very concerned about the marketing aspect.
- Product lenght, height and width because we calculated the valume which is more relevant.
- Review id because it's just a bunch of letters and numbers that identify the review, and we won't be filtering the data by review id. 
- Review creation and answer time stamp because we added a column of the difference between the two (I thought maybe how fast the seller responds to comments might have something to do with the products sales).
- Zip codes because we won't be doing a detailed geographical analysis of the area where the commerce takes place.

We finnaly got a 34 column dataframe.

In [170]:
def date_time(df, cols):
    for col in cols:
        df[col] = pd.to_datetime(df[col], format='%Y-%m-%d').dt.date
date_time(treated_df,["shipping_limit_date","order_delivered_customer_date","order_purchase_timestamp",
                     "order_delivered_customer_date","order_estimated_delivery_date"])

In [171]:
treated_df["limit_delivery_diff"] = treated_df["shipping_limit_date"] - treated_df["order_delivered_customer_date"]

Here I transformed some columns from object format to datetime format to be able to calculate the difference between the limit shipping time and the actual shipping time.

In [172]:
treated_df = treated_df.drop(["shipping_limit_date","customer_id"],  axis = 1)

Then I dropped the shipping date limit because it's no longer relevant, and the customer id because we're keeping the customer unique id instead.

In [173]:
treated_df["Total_cost"] = treated_df["price"] + treated_df["freight_value"]

I added a column of the total cost of the transaction because I thought we might use it later.

In [174]:
compare_states = np.where(treated_df["seller_state"] == treated_df["geolocation_state"], True, False)
treated_df["compare_states"] = compare_states
treated_df["compare_states"].value_counts()

True     69696
False    28413
Name: compare_states, dtype: int64

In the previous notebook when I was preparing the main dataset, I grouped the geolocation dataset with the main one by seller state, because its values are all present in the main datatframe and merging them wouldn't result in any data loss. Now, after the other transformations were applied, we see that only 69 696 of the seller states match with the geolocation state. So one solution is to slit the dataset into one with matching states and one with unmatching ones.

In [175]:
matching_states = treated_df[treated_df["compare_states"] == True]
not_matching = treated_df[treated_df["compare_states"] == False]
not_matching = not_matching.drop(["seller_state"], axis= 1)
not_matching["seller_state"] = not_matching["geolocation_state"]

After the split, I deleted the seller_state column from the dataset with unmatching states, and recreated a new one containing exatly the same as in the column geolocation_state, with the same name (seller_state). In order to have coherent rows and to not loose any data.

In [176]:
treated_df = matching_states.append(not_matching)

In [177]:
compare_states = np.where(treated_df["seller_state"] == treated_df["geolocation_state"], True, False)
treated_df["compare_states"] = compare_states
treated_df["compare_states"].value_counts()

True    98109
Name: compare_states, dtype: int64

After appending the two dataset we now have a 100% match between the seller states and geolocation states.

In [178]:
compare_cities = np.where(treated_df["seller_city"] == treated_df["geolocation_city"], True, False)
treated_df["compare_cities"] = compare_cities
treated_df["compare_cities"].value_counts()

False    73845
True     24264
Name: compare_cities, dtype: int64

In [179]:
matching_cities = treated_df[treated_df["compare_cities"] == True]
not_match = treated_df[treated_df["compare_cities"] == False]
not_match = not_match.drop(["seller_city"], axis= 1)
not_match["seller_city"] = not_match["geolocation_city"]

In [180]:
treated_df = matching_cities.append(not_match)

In [181]:
compare_cities = np.where(treated_df["seller_city"] == treated_df["geolocation_city"], True, False)
treated_df["compare_cities"] = compare_cities
treated_df["compare_cities"].value_counts()

True    98109
Name: compare_cities, dtype: int64

The same process was done to seller city, there were 4 118 cities not matching, so we replace them with the cities that are in the geolocation city colum (because the geolocation dataset has the latitude and longitude of the city it mentions). We finally get no differences between the cities.

In [182]:
treated_df = treated_df.drop(["compare_cities","compare_states","geolocation_state","geolocation_city"], axis=1)

So I've deleted the bool columns that I created before to see the similarities and difference between the mentioned columns, and also the geolocation state and city because they are identical to those of sellers.

In [184]:
to_days = treated_df["limit_delivery_diff"].dt.days
treated_df["limit_delivery_diff"] = to_days

Then I transformed the limit delivery difference column, which is the difference between the shipping limit date and the actual limit date, to integers representing days (positive value if the order got shipped before the limit time, and negative if it got shipped aftre).

In [190]:
def time_delta(df, cols):
    for col in cols:
        df[col] = pd.to_timedelta(df[col]).dt.days
time_delta(treated_df,["shipping_difference","shipping_duration","shipping_est_duration","difference_reviews"])

Then I transformed all the columns containing durations (and that were turned into object type) to integer representing days, both in positive and negative.

In [199]:
treated_df = treated_df.rename(columns={"order_purchase_timestamp":"purchase_date",
                           "shipping_difference":"est_act_shipp",
                           "volume_ltr":"product_colume_ltr",
                           "customer_unique_id":"customer_id",
                           "geolocation_lat":"seller_lat",
                           "geolocation_lng":"seller_lng",
                           "product_category_name_english":"product_category_name",
                           "order_delivered_customer_date": "delivered_date",
                           "order_estimated_delivery_date" : "est_del_date"        
                          })

Then I renamed some columns for more coherence.

In [201]:
treated_df.to_csv("treated_PowerBI.csv", index = False)

Then I saved a copy of the dataset sofar to be used for Power BI dashboards. I'm going to delete the columns containing dates (ex: perchase date, delivery date...) and columns containing ids (ex: customer id, product id) before applying machine learning algorithms, because the objective is not to see change over time nor are the ids relevant for the algorithms.

# Exploratory data analysis

In [202]:
treated_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 98109 entries, 1710 to 98108
Data columns (total 32 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   order_id               98109 non-null  object
 1   order_status           98109 non-null  object
 2   purchase_date          98109 non-null  object
 3   delivered_date         98109 non-null  object
 4   est_del_date           98109 non-null  object
 5   est_act_shipp          98109 non-null  int64
 6   shipping_duration      98109 non-null  int64
 7   shipping_est_duration  98109 non-null  int64
 8   product_id             98109 non-null  object
 9   quantity               98109 non-null  int64
 10  seller_id              98109 non-null  object
 11  price                  98109 non-null  float64
 12  freight_value          98109 non-null  float64
 13  product_photos_qty     98109 non-null  float64
 14  product_weight_g       98109 non-null  float64
 15  product_colume_ltr     98109 non-null  float64
 16  payment_sequential     98109 non-null  int64
 17  payment_type           98109 non-null  object
 18  payment_installments   98109 non-null  int64
 19  payment_value          98109 non-null  float64
 20  review_score           98109 non-null  int64
 21  difference_reviews     98109 non-null  int64
 22  seller_city            98109 non-null  object
 23  seller_state           98109 non-null  object
 24  customer_id            98109 non-null  object
 25  customer_city          98109 non-null  object
 26  customer_state         98109 non-null  object
 27  seller_lat             98109 non-null  float64
 28  seller_lng             98109 non-null  float64
 29  product_category_name  98109 non-null  object
 30  limit_delivery_diff    98109 non-null  int64
 31  Total_cost             98109 non-null  float64
dtypes: float64(9), int64(9), object(14)
memory usage: 24.7+ MB